@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 15px; */
}

.logo {
  width: 52px;
  height: 63px;
}

.nav__form-input {
  display: flex;

  width: 791px;
}

.nav__form-input input {
  max-width: 700px;
  width: 100%;
  border: 1px solid #bdbdbd;
  outline: none;
  background: #fff;
  padding-left: 10px;
  height: 40px;
  border-radius: 20px 0px 0px 20px;
}

.nav__form-input button {
  border-radius: 0px 20px 20px 0px;
  background: #e96023;
  min-width: 96px;
  color: #fff;
}

.nav .container::before {
  display: block;
  content: "";
  max-width: 1380px;
  width: 100%;
  height: 1px;
  background: #bdbdbd;
  position: absolute;
  top: 100px;
}

.close {
  display: none;
}

.open1 {
  display: none;
}

.link-active {
  display: flex;
  border-radius: 22px;
  background: #fadf00;
  min-height: 44px;
  align-items: center;
  justify-content: center;
  width: 9rem;
}

.banner {
  width: 100%;
}

/* .navs{
background-color: red;
width: 590px;
}

.navs2 {
 background-color: #30922f;
 width: 250px; 
} */

/* media */

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 92px !important;
  height: 92px !important;
  margin-top: -20px;
  background: rgba(0, 0, 0, 0.12);
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-prev {
  color: #fff !important;
  font-weight: 900;
}

.swiper-button-next:after {
  color: #fff !important;
  font-weight: 900;
}

.card__title {
  width: 150px;
  /* background-color: red; */
}

.card__img {
  margin-left: 40px;
}

.card {
  min-height: 350px;
}

/* .card{
  background-color: red;
} */

.stic {
  position: relative;
}

.back_img {
  position: absolute;
  left: -180px;
  z-index: -1;
  top: 100px;
}

.back_img2 {
  position: absolute;
  right: -180px;
  z-index: -1;
  top: 100px;
}

.about-title {
  max-width: 1350px;
  width: 100%;
  line-height: 40px;
  font-size: 24px;
}

.map {
  width: 100%;
  background: url(../public/images/back.png);
  background-size: cover;
  min-height: 797px;
}

.map__title {
  font-size: 30px;
  font-weight: 800;
}

.left {
  max-width: 675px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  max-width: 675px;
  width: 100%;
  padding: 8px 0 8px 30px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  background: #fff;
  font-size: 24px;
  color: #b4b4b4;
}

.texta {
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  background: #fff;
  font-size: 24px;
  padding: 8px 0 8px 30px;
  min-height: 150px;
}

.form-btn {
  max-width: 179px;
  width: 100%;
  padding: 13px 0;
  border-radius: 27.5px;
  background: #fadf00;
  font-size: 22px;
}

.footer__logo {
  width: 138px;
  height: 173px;
}

.lines::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #bdbdbd;
  margin-top: 44px;
}

.about-title {
  /* font-size: 72px; */
}

.block {
  width: 9rem;
  text-align: center;
}

.cart-f {
  max-width: 440px;
  width: 100%;
}

.banner {
  min-height: 500px;
  position: relative;
}

.head-b {
  position: absolute;
  height: 100%;
}

.headeline {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.resc {
  width: 1000px;
}

.more {
  display: block;
}

.form-witdh {
  width: 800px;
}

.bg-color {
  background: #f8f8f8;
}

.banner {
  background: url(../public/images/bgbanner.png);
  background-size: contain;

  width: 100%;
  min-height: 600px;
  object-fit: cover;

}

.banner__lg {
  max-width: 1328px;
  width: 100%;
}

.container2 {
  background: url(../public/images/bgbanner.png);
  background-size: contain;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
  gap: 34px;
  min-height: 610px;
  flex-wrap: unset;
}

.banner__info {
  width: 287px;
  height: 100%;
  min-height: 610px;
  /* background-color: red;  */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.header__banner {
  padding-top: 76px;
  padding-bottom: 100px;
}

.left__draw {
  position: absolute;
  max-width: 914px;
  width: 100%;
}

.left__news {
  max-width: 914px;
  width: 100%;

}

.left__draw::after {
  display: block;
  content: "";
  position: absolute;
  max-width: 850px;
  width: 100%;
  height: 2px;
  background-color: #000;
  top: 30px;
}

.right__news {
  max-width: 486px;
  width: 100%;
}

.right__titles {
  max-width: 486px;
  width: 100%;

  background: #E96023;
}


.news-card {
  max-width: 914px;
  width: 100%;
}

.pad {
  padding: 0 15px;
}

.asideactive {
  border-radius: 6px;
  background: linear-gradient(270deg, rgba(71, 72, 111, 0.20) -23.64%, rgba(71, 72, 111, 0.00) 87.49%);
}

.tab {
  width: 1200px;
}

.section {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section .dots span {
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  background: #e60707;
  border-radius: 50%;
}

@media (max-width: 1200px) {


  .cards {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }

  body {
    position: relative;
  }

  .open1 {
    display: block;
    margin-right: 20px;
  }

  .logo {
    margin-left: 20px;
  }

  .fotos {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .menu {
    width: 80%;
    background-color: #bdb8b8;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 80vh;
    justify-content: center;

    top: 0px;
    gap: 40px;
    transition: 0.4s;
    z-index: 9;
  }

  .draw {
    padding-left: 10px;
  }

  .about-title {
    padding-left: 10px;
  }

  .sub-2 {
    padding-left: 10px;
  }

  .menu.active {
    transform: translateX(-100%);
    transition: 0.4s;
  }

  .nav__form-input {
    display: flex;
    max-width: 800px !important;
    width: 100%;
  }

  .close {
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;

    cursor: pointer;
  }
}

@media(max-width: 992px) {

  .blocknews {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .news-card {
    max-width: 500px;
    width: 100%;
    margin: 70px auto;

  }

}

@media (max-width: 768px) {

  .blocknews {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .news-card {
    max-width: 500px;
    width: 100%;
    margin: 70px auto;

  }

  .banner__info {
    width: 80%;
    justify-content: unset;
  }

  .header__banner {
    padding: 0;
    /* background-color: red; */
    height: 550px;
  }


  .container2 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .footer__block {
    padding: 0 10px;
  }

  .swiper-button-next {
    display: none !important;
  }

  .swiper-button-prev {
    display: none !important;
  }

  .subt {
    display: none;
  }

  .home__head {
    margin-top: 20px;
  }

  .banner {
    height: 400px;
    object-fit: cover;
    object-position: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 639px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 639.9px) {

  .blocknews {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .news-card {
    max-width: 500px;
    width: 100%;
    margin: 70px auto;

  }

  .blocknews {
    display: flex;
    flex-wrap: wrap;
  }

  .news-card {
    display: flex;
    flex-wrap: wrap;
  }

  .pn {
    padding: 0px 20px;
  }

  .pse {
    padding: 0 12px;
  }

  .space {
    max-width: 600px;
    width: 100%;
  }

  /* .about-title {
    font-size: 53px;
  } */
  .sub {
    font-size: 30px;
  }

  .aboutf {
    display: flex;
    justify-content: center;
  }

  .about-s {
    width: 85px;
    height: 85px;
    margin: 0 auto;
  }

  .fotos {
    display: flex;
    justify-content: center;
  }

  .headeline-title {
    font-size: 60px;
    padding-left: 10px;
  }

  .carts {
    justify-content: center;
  }
}

/* media */